user comments..
<section id="comments" class="card">
  <header>Username: {{user_name}}</header>
  <div class="card-contents">
    <p>Comment: {{comment}}</p>
    <p>Date Created: {{format_date createdAt}}</p>
    <p>User Id: {{user_id}} --- For testing only ---</p> {{!-- for testing only --}}
  </div>
</section>