<div id="blogDiv">
      <div class="form-floating">
            <textarea class="form-control" id="blogTitle"></textarea>
            <label for="blogTitle">Blog Title</label>
      </div>
      <div class="form-floating">
            <textarea class="form-control" id="blogBody" style="height: 100px"></textarea>
            <label for="blogBody">Blog Body Contents</label>
      </div>
</div>
<div>
      <button id="postBtn" class="btn btn-primary">Post Blog +</button>
</div>