<nav>
  <div id="nav-links">
    <a href="/">Home</a>
    <a href="/dashboard">Dashboard</a>
    {{#if logged_in}}
    <a id="logout" href="">Logout</a>
    {{else}}
    <a href="/login">Login</a>
    {{/if}}
  </div>
  <div id="tech-blog">
    {{#if subTitle}}
    <h1>{{subTitle}}</h1>
    {{/if}}
  </div>
</nav>

{{#if logged_in}}
<script src="/js/logout.js"></script>
{{/if}}