<div id="blogs" class="card" style="width:1000px;">
  <a href="/blog/{{id}}">
    <div class="card-body">
      <div id="blog_header">
        <h3 class="card-title">{{title}}</h3>
        <h6>Posted: {{format_date createdAt}}</h6>
      </div>
    </div>
  </a>
</div>